@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto/Roboto-Regular.ttf");
}
* {
  font-family: "Roboto";
  font-size: 15px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  min-height: 60px;
  background-color: white;
}
header img {
  max-width: 150px;
  margin: auto;
}

footer {
  color: white;
  background-color: #333333;
  padding: 20px;
}
footer div > img {
  height: 20px;
  filter: invert(100%);
}
footer div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}
footer div:nth-child(2) a {
  margin: 5px 0;
}
footer div:nth-child(2) i {
  width: 20px;
}
footer div:nth-child(2) .fa-hands-helping {
  transform: scaleX(0.66);
  transform-origin: left;
}

.purple-btn {
  margin: 18.72px auto;
  width: fit-content;
  min-width: 150px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 12px #bdbdbd;
  background: #9356dc;
  background: -moz-linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background: -webkit-linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  font-size: 13px;
  transition: 0.3s;
}
.purple-btn:hover {
  box-shadow: 0 4px 20px 5px #808080;
  filter: brightness(115%);
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  footer {
    text-align: center;
  }
}
@media screen and (min-width: 1100px) {
  footer {
    text-align: center;
  }
}
body {
  animation: noOverflow 12s forwards;
}

#spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
  display: flex;
  animation: closeSpinner 0.4s ease-in 3s forwards;
  background: #9356dc;
  background: -moz-linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background: -webkit-linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
}
#spinner #false-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 200px;
  animation: resizeFalseHeader 1s ease-in-out 2.2s forwards;
}
#spinner #false-header img {
  max-width: 300px;
  margin: auto;
  filter: invert(100%);
  animation: resizeFalseHeaderImg 1s ease-in-out 2s forwards;
}

#loader {
  color: white;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: duplicate 1.7s infinite ease, turn 1.7s infinite ease;
  animation: duplicate 1.7s infinite ease, turn 1.7s infinite ease;
}

@keyframes resizeFalseHeader {
  0% {
    height: 200px;
  }
  100% {
    height: 60px;
  }
}
@keyframes resizeFalseHeaderImg {
  0% {
    max-width: 300px;
  }
  100% {
    max-width: 150px;
    filter: invert(0%);
  }
}
@-webkit-keyframes duplicate {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes duplicate {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes closeSpinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: collapse;
  }
}
@-webkit-keyframes closeSpinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: collapse;
  }
}
@keyframes noOverflow {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}
h1 {
  font-size: 18px;
}

#explorer {
  text-align: center;
  background-color: #F2F2F2;
}
#explorer #location {
  box-shadow: inset 0 7px 3px -5px #878787d2;
  background-color: #dfdfdf9a;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#explorer #location i {
  margin-right: 10px;
  margin-bottom: 5px;
}
#explorer #location p {
  margin-left: 10px;
}
#explorer #visit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  min-height: 250px;
}
#explorer #visit h2 {
  font-size: 26px;
  margin: 20px 39px;
}
#explorer #visit p {
  margin-top: 0;
  margin-bottom: 20px;
}

#fonctionnement {
  padding: 20px;
}
#fonctionnement h3 {
  font-size: 18px;
}
#fonctionnement #steps {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#fonctionnement .step {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 15px 0px 15px 10px;
  min-height: 60px;
  border-radius: 15px;
  box-shadow: 0 4px 12px #bdbdbd;
}
#fonctionnement .step:nth-child(3) {
  background-color: #9256dc51;
}
#fonctionnement .step:nth-child(3) i {
  color: #9356DC;
}
#fonctionnement .step div:nth-child(1) {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #9356DC;
  display: flex;
  transform: translateX(-50%);
  color: white;
}
#fonctionnement .step div:nth-child(1) p {
  margin: auto;
  font-size: 12px;
}
#fonctionnement .step div:nth-child(2) {
  width: 30px;
  color: #5c5c5c;
}
#fonctionnement .step div:nth-child(2) p {
  text-align: center;
}
#fonctionnement .step div:nth-child(3) {
  padding-left: 10px;
  font-weight: bold;
}

main {
  padding: 20px;
  background-color: #F2F2F2;
}

#display {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(250px, auto);
  margin: 25px 0;
}
#display a {
  width: calc(100% - 50px);
}
#display .card {
  border-radius: 15px;
  box-shadow: 0 4px 12px #bdbdbd;
}
#display .card:nth-child(1) .card-bg {
  background-image: url("../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
#display .card:nth-child(2) .card-bg {
  background-image: url("../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
#display .card:nth-child(3) .card-bg {
  background-image: url("../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
#display .card:nth-child(4) .card-bg {
  background-image: url("../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
#display .card .card-bg {
  background-size: cover;
  background-position: center;
  height: 190px;
  border-radius: 15px 15px 0 0;
}

.card-info {
  min-height: 60px;
  background-color: white;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.card-info p {
  margin: 0;
}
.card-info p:nth-child(1) {
  font-weight: bold;
}
.card-info .card-icon {
  width: 22px;
  height: 22px;
}
.card-info .card-icon i {
  color: #5c5c5c;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  transition: 0.2s ease-out;
}
.card-info .card-icon .fas {
  opacity: 0.5;
  background: #9356dc;
  background: -moz-linear-gradient(210deg, #9356dc 20%, #ff79da 100%);
  background: -webkit-linear-gradient(210deg, #9356dc 20%, #ff79da 100%);
  background: linear-gradient(210deg, #9356dc 20%, #ff79da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
}
.card-info .card-icon:hover .fas {
  opacity: 1;
  transform: scale(1);
}
.card-info .card-icon:hover .far {
  background: #9356dc;
  background: -moz-linear-gradient(210deg, #9356dc 20%, #ff79da 100%);
  background: -webkit-linear-gradient(210deg, #9356dc 20%, #ff79da 100%);
  background: linear-gradient(210deg, #9356dc 20%, #ff79da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  #display {
    grid-template-columns: repeat(2, 1fr);
  }

  #steps {
    max-width: 500px;
    margin: auto;
  }
}
@media screen and (min-width: 1100px) {
  main {
    overflow-x: hidden;
  }
  main h1 {
    font-size: 50px;
    transition: 0.3s ease-out;
    transform-origin: top left;
    transform: scale(60%);
    margin-top: 0;
  }
  main:hover > h1 {
    transform: scale(1);
    font-weight: 100;
  }

  #display {
    grid-template-columns: repeat(4, 1fr);
  }
  #display .card {
    transition: 0.2s ease-out;
    transform-origin: bottom;
    overflow: hidden;
  }
  #display .card:hover {
    transform: scale(105%);
    box-shadow: 0 10px 20px #3d3d3d;
  }
  #display .card:hover .card-bg {
    transform-origin: bottom;
    animation: moveBg 9s ease infinite alternate;
  }

  #steps {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  #fonctionnement h3 {
    font-size: 28px;
  }

  @keyframes moveBg {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(110%);
    }
  }
}