@import styles.sass

body
  animation: noOverflow 12s forwards

#spinner
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 5000
  display: flex
  animation: closeSpinner .4s ease-in 3s forwards
  background: rgb(147,86,220)
  background: -moz-linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%)
  background: -webkit-linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%)
  background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1)

  #false-header
    position: absolute
    top: 0
    left: 0
    right: 0
    display: flex
    height: 200px
    animation: resizeFalseHeader 1s ease-in-out 2.2s forwards
    img
      max-width: 300px
      margin: auto
      filter: invert(100%)
      animation: resizeFalseHeaderImg 1s ease-in-out 2s forwards

#loader
  color: white
  font-size: 90px
  text-indent: -9999em
  overflow: hidden
  width: 1em
  height: 1em
  border-radius: 50%
  margin: auto
  position: relative
  -webkit-transform: translateZ(0)
  -ms-transform: translateZ(0)
  transform: translateZ(0)
  -webkit-animation: duplicate 1.7s infinite ease, turn 1.7s infinite ease
  animation: duplicate 1.7s infinite ease, turn 1.7s infinite ease

@keyframes resizeFalseHeader
  0%
    height: 200px
  100%
    height: 60px

@keyframes resizeFalseHeaderImg
  0%
    max-width: 300px
  100%
    max-width: 150px
    filter: invert(0%)


@-webkit-keyframes duplicate
  0%
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

  5%,
  95%
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

  10%,
  59%
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em

  20%
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em

  38%
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em

  100%
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

@keyframes duplicate
  0%
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

  5%,
  95%
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

  10%,
  59%
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em

  20%
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em

  38%
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em

  100%
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

@-webkit-keyframes turn
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

@keyframes turn
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

@keyframes closeSpinner
  0%
    opacity: 1

  100%
    opacity: 0
    visibility: collapse

@-webkit-keyframes closeSpinner
  0%
    opacity: 1

  100%
    opacity: 0
    visibility: collapse

@keyframes noOverflow
  0%
    overflow: hidden
  100%
    overflow: auto

// AFTER LOADER
h1
  font-size: 18px

#explorer
  text-align: center
  background-color: $grey

  #location
    box-shadow: inset 0 7px 3px -5px #878787d2
    background-color: #dfdfdf9a
    padding: 3px 0
    display: flex
    justify-content: center
    align-items: center
    i
      margin-right: 10px
      margin-bottom: 5px
    p
      margin-left: 10px

  #visit
    display: flex
    flex-direction: column
    justify-content: space-evenly
    padding: 20px
    min-height: 250px

    h2
      font-size: 26px
      margin: 20px 39px
    p
      margin-top: 0
      margin-bottom: 20px

#fonctionnement
  padding: $padding

  h3
    font-size: 18px

  #steps
    display: flex
    flex-direction: column
    justify-content: space-evenly

  .step
    background-color: #f2f2f2
    display: flex
    flex-wrap: nowrap
    align-items: center
    margin: 15px 0px 15px 10px
    min-height: 60px
    border-radius: 15px
    box-shadow: $shadow

    &:nth-child(3)
      background-color: #9256dc51
      i
        color: $purple

    div:nth-child(1)
      width: 20px
      height: 20px
      border-radius: 100%
      background-color: $purple
      display: flex
      transform: translateX(-50%)
      color: white
      p
        margin: auto
        font-size: 12px

    div:nth-child(2)
      width: 30px
      color: #5c5c5c
      p
        text-align: center

    div:nth-child(3)
      padding-left: 10px
      font-weight: bold

main
  padding: $padding
  background-color: $grey

#display
  display: grid
  grid-template-columns: repeat(1, 1fr)
  grid-gap: 20px
  grid-auto-rows: minmax(250px, auto)
  margin: 25px 0

  a
    width: calc(100% - 50px)

  .card
    border-radius: 15px
    box-shadow: $shadow
    position: relative

    &:nth-child(1) .card-bg
      background-image: url($image-lapalettedugout)

    &:nth-child(2) .card-bg
      background-image: url($image-lanoteenchantee)

    &:nth-child(3) .card-bg
      background-image: url($image-alafrancaise)

    &:nth-child(4) .card-bg
      background-image: url($image-ledelicedessens)

    .card-bg
      background-size: cover
      background-position: center
      height: 190px
      border-radius: 15px 15px 0 0

.card-info
  min-height: 60px
  background-color: white
  border-radius: 0 0 15px 15px
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  align-items: center
  padding: 0 10px

  p
    margin: 0
    &:nth-child(1)
      font-weight: bold

.newCard
  position: absolute
  right: 10px
  top: 20px
  background-color: #99E2D0
  color: #0e6d58
  padding: 7px 10px
  border-radius: 2px
  font-weight: bold
  font-size: 12px
  z-index: 10

.floatHeart
  width: 22px
  height: 22px
  position: absolute
  right: 10px
  bottom: 20px
  z-index: 1000

  i
    color: #5c5c5c
    font-size: 22px
    cursor: pointer
    position: absolute
    z-index: 1000
    transition: .2s ease-out

  .fas
    opacity: .5
    background: rgb(147,86,220)
    background: -moz-linear-gradient(210deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%)
    background: -webkit-linear-gradient(210deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%)
    background: linear-gradient(210deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1)
    background-clip: text
    -webkit-background-clip: text
    color: transparent
    transform: scale(0)

  &:hover .fas
    opacity: 1
    transform: scale(1)
  &:hover .far
    background: rgb(147,86,220)
    background: -moz-linear-gradient(210deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%)
    background: -webkit-linear-gradient(210deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%)
    background: linear-gradient(210deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1)
    background-clip: text
    -webkit-background-clip: text
    color: transparent

// TABLET
@media screen and ( min-width: $bp-tablet )and ( max-width: $bp-desktop )
  #display
    grid-template-columns: repeat(2, 1fr)

  #steps
    max-width: 500px
    margin: auto

// DESKTOP
@media screen and ( min-width: $bp-desktop )
  main
    overflow-x: hidden
    h1
      font-size: 50px
      transition: .3s ease-out
      transform-origin: top left
      transform: scale(60%)
      margin-top: 0

    &:hover > h1
      transform: scale(1)
      font-weight: 100

  #display
    grid-template-columns: repeat(4, 1fr)
    .card
      transition: .2s ease-out
      transform-origin: bottom
      overflow: hidden
      &:hover
        transform: scale(105%)
        box-shadow: 0 10px 20px #3d3d3d

        .card-bg
          transform-origin: bottom
          animation: moveBg 9s ease infinite alternate

  #steps
    display: grid !important
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 20px

  #fonctionnement h3
    font-size: 28px
  
  @keyframes moveBg
    0%
      transform: scale(1)
    100%
      transform: scale(110%)

