@import styles.sass

h1
  font-size: 18px

#explorer
  text-align: center
  background-color: $grey

  #location
    box-shadow: inset 0 7px 3px -5px #878787d2
    background-color: #dfdfdf9a
    padding: 3px 0
    display: flex
    justify-content: center
    align-items: center
    i
      margin-right: 10px
      margin-bottom: 5px
    p
      margin-left: 10px

  #visit
    display: flex
    flex-direction: column
    justify-content: space-evenly
    padding: 20px
    h1
      font-size: 26px
      margin: 20px 39px
    p
      margin-top: 0
      margin-bottom: 20px

#fonctionnement
  padding: $padding

  #steps
    display: flex
    flex-direction: column
    justify-content: space-evenly

  .step
    background-color: #f2f2f2
    display: flex
    flex-wrap: nowrap
    align-items: center
    margin: 15px 0px 15px 10px
    min-height: 60px
    border-radius: 15px
    box-shadow: $shadow

    &:nth-child(3)
      background-color: #9256dc51
      i
        color: $purple

    div:nth-child(1)
      width: 20px
      height: 20px
      border-radius: 100%
      background-color: $purple
      display: flex
      transform: translateX(-50%)
      color: white
      p
        margin: auto
        font-size: 12px

    div:nth-child(2)
      width: 30px
      color: #5c5c5c
      p
        text-align: center

    div:nth-child(3)
      padding-left: 10px
      font-weight: bold

main
  padding: $padding
  background-color: $grey

  #display
    display: grid
    grid-auto-columns: repat(1, 1fr)
    grid-gap: 20px
    grid-auto-rows: minmax(250px, auto)
    margin: 25px 0

    a
      width: calc(100% - 50px)

    .card
      border-radius: 15px
      box-shadow: $shadow
      // position: relative

      &:nth-child(1) .card-bg
        background-image: url($image-lapalettedugout) 

      &:nth-child(2) .card-bg
        background-image: url($image-lanoteenchantee)

      &:nth-child(3) .card-bg
        background-image: url($image-alafrancaise)

      &:nth-child(4) .card-bg
        background-image: url($image-ledelicedessens)

      .card-bg
        background-size: cover
        background-position: center
        height: 190px
        border-radius: 15px 15px 0 0

.card-info
  // position: absolute
  // bottom: 0
  // left: 0
  // right: 0
  min-height: 60px
  background-color: white
  border-radius: 0 0 15px 15px
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  align-items: center
  padding: 0 10px

  p
    margin: 0
    &:nth-child(1)
      font-weight: bold

  .card-icon
    width: 22px
    height: 22px

    i
      color: #5c5c5c
      font-size: 22px
      cursor: pointer
      position: absolute
      z-index: 5000
      &:hover
        background: rgb(147,86,220)
        background: -moz-linear-gradient(210deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%)
        background: -webkit-linear-gradient(210deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%)
        background: linear-gradient(210deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1)
        background-clip: text
        -webkit-background-clip: text
        color: transparent
        font-weight: 1000
