@font-face
  font-family: 'Roboto'
  src: url('../assets/font/Roboto/Roboto-Regular.ttf')

// COLOR
$purple: #9356DC
$pink: #FF79DA
$blue: #99E2D0
$grey: #F2F2F2

// IMAGE
$image-alafrancaise: '../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg'
$image-lanoteenchantee: '../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg'
$image-lapalettedugout: '../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg'
$image-ledelicedessens: '../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg'

// BREAKPOINTS
$bp-tablet: 768px
$bp-desktop: 1100px

$shadow: 0 4px 12px #bdbdbd

$padding: 20px

*
  font-family: 'Roboto'
  font-size: 15px

body
  margin: 0

a
  text-decoration: none
  color: inherit

header
  display: flex
  min-height: 60px
  background-color: white
  img
    max-width: 150px
    margin: auto

footer
  color: white
  background-color: #333333
  padding: $padding

  div > img
    height: 20px
    filter: invert(100%)

  div:nth-child(2)
    display: flex
    flex-direction: column

    a
      margin: 5px 0
    
    i
      width: 20px

    .fa-hands-helping
      // width: 20px
      transform: scaleX(0.66)
      transform-origin: left

.purple-btn
  margin: 18.72px auto
  width: fit-content
  min-width: 150px
  height: 40px
  padding: 10px 20px
  border-radius: 50px
  border: none
  color: white
  cursor: pointer
  box-shadow: $shadow
  background: rgb(147,86,220)
  background: -moz-linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%)
  background: -webkit-linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%)
  background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1)
  font-size: 13px

// TABLET
@media only screen and ( min-width: $bp-tablet )and ( max-width: $bp-desktop )
  footer
    text-align: center


// DESKTOP
@media screen and ( min-width: $bp-desktop )
  footer
    text-align: center