@font-face
  font-family: 'Roboto'
  src: url('../assets/font/Roboto/Roboto-Regular.ttf')

@font-face
  font-family: 'Shrikhand'
  src: url('../assets/font/Shrikhand/Shrikhand-Regular.ttf')

$purple: #9356DC
$pink: #FF79DA
$blue: #99E2D0
$grey: #F2F2F2

$image-alafrancaise: url('../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg')
$image-lanoteenchantee: url('../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg')
$image-lapalettedugout: url('../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg')
$image-ledelicedessens: url('../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg')

$shadow: 0 4px 12px #d1d1d1


$padding: 20px

*
  font-family: 'Roboto'
  font-size: 15px

body
  margin: 0

a
  text-decoration: none
  color: inherit

header
  display: flex
  min-height: 60px
  img
    max-width: 150px
    margin: auto

footer
  color: white
  background-color: #333333
  padding: $padding

  div > img
    height: 20px
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg) brightness(118%) contrast(118%)

  div:nth-child(2)
    display: flex
    flex-direction: column

    a
      margin: 5px 0
    
    i
      width: 20px

    .fa-hands-helping
      // width: 20px
      transform: scaleX(0.66)
      transform-origin: left
