@font-face
  font-family: 'Roboto'
  src: url('../assets/font/Roboto/Roboto-Regular.ttf')

@font-face
  font-family: 'Shrikhand'
  src: url('../assets/font/Shrikhand/Shrikhand-Regular.ttf')


*
  font-family: 'Roboto'

body
  margin: 0

header
  display: flex
  min-height: 60px
  img
    max-width: 150px
    margin: auto
